<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luopan.annualmeeting.dao.PraiseDao">

  <resultMap id="BaseResultMap" type="com.luopan.annualmeeting.entity.Praise">
    <id property="id" column="ID" jdbcType="BIGINT"/>
    <result property="showId" column="SHOW_ID" jdbcType="BIGINT"/>
    <result property="personId" column="PERSON_ID" jdbcType="BIGINT"/>
    <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="status" column="STATUS" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="BaseSql">
    id, show_id, person_id
  </sql>

  <insert id="insert" parameterType="praise">
    insert into praise(show_id, person_id, create_time, update_time, status)
    values (#{showId}, #{personId}, #{createTime}, #{updateTime}, #{status})
  </insert>

  <select id="findByPersonId" parameterType="long" resultMap="BaseResultMap">
    select show_id
    from praise
    where status = 1 and
    person_id = #{personId}
  </select>

  <select id="count" parameterType="long" resultType="int">
    select count(id)
    from praise
    where status = 1 and
    person_id = #{personId} and
    show_id = #{showId}
  </select>

</mapper>