<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luopan.annualmeeting.dao.ShowVoteDao">

  <resultMap id="BaseResultMap" type="com.luopan.annualmeeting.entity.ShowVote">
    <id property="id" column="ID" jdbcType="BIGINT"/>
    <result property="showId" column="SHOW_ID" jdbcType="BIGINT"/>
    <result property="personId" column="PERSON_ID" jdbcType="BIGINT"/>
    <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="status" column="STATUS" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="BaseSql">
    id, show_id, person_id
  </sql>

  <insert id="insert" parameterType="showVote">
    insert into show_vote(show_id, person_id, company_id, create_time, update_time, status)
    values (#{showId}, #{personId}, #{companyId}, #{createTime}, #{updateTime}, #{status})
  </insert>

  <select id="findByPersonId" parameterType="long" resultMap="BaseResultMap">
    select show_id
    from show_vote
    where status = 1 and
    person_id = #{personId}
  </select>

  <select id="countByPersonId" resultType="int" parameterType="long">
    select count(id)
    from show_vote
    where status = 1 and person_id = #{personId}
  </select>

  <select id="countByPersonIdAndShowId" resultType="int">
    select count(id)
    from show_vote
    where status = 1 and person_id = #{personId} and show_id = #{showId}
  </select>
  
  <insert id="insertList" parameterType="showVote">
    insert into
    show_vote(show_id, person_id, company_id, create_time, update_time, status)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.showId}, #{item.personId}, #{item.companyId}, #{item.createTime}, #{item.updateTime}, #{item.status})
    </foreach>
  </insert>

</mapper>